{% extends "html/nav.html" %}
{% block up %}
		<title>無規則伺服器</title>
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="landing is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">
{% endblock %}
{% block down %}
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>無規則伺服器</h2>
						  	<p>這個世界，從來都是由強者制定遊戲規則，</p>
						  	<p>如果想要保護自己在乎的人，就只有變得更強 。</p>
							<ul class="actions special">
	    						<li><a href="https://discord.gg/sKA9q2xyty" class="button primary">立即加入</a></li>
							</ul>
						</div>
						<a href="#one" class="more scrolly">進入世界</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>加入我們的世界<br />
								一個沒有規則的世界</h2>
								
							  	<p>連線位置：
									<font style="cursor: pointer; text-decoration: underline;" onclick="copy_ip()">mc.norule.me</font>
								</p>
								<p>伺服器版本：Java版本 1.19.3</p>
								<p>可連線版本：Java版本 1.17 ~ 1.19.3</p>
                            </header>
							<ul class="box alt">
							  <div class="col-12"><span class="image fit"><img src="images/about.png" alt="" /></span></div>
						  </ul>
					  </div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
								<h2>放飛自我，自由渴望<br />
								使用第三方登入器以及黑科技?</h2>
								<p>全部都可以喔!!</p>
								<p>只要不洗頻，不影響伺服器運作(LAG機，高速跑圖，複製物品)都不會有問題。</p>
							    <img src="https://minecraft-mp.com/leaderboard-284413-4.png" border="0" style="cursor: pointer;" onclick="copy_ip()">
								<textarea style="position:absolute;left:-99999px;" id="link_url">mc.norule.me</textarea>
								
							</div>
						</section>
						<section class="spotlight">
							<widgetbot server="839847631995404288" channel="842144434656641024" width="800" height="600"></widgetbot>
							<script src="https://cdn.jsdelivr.net/npm/@widgetbot/html-embed"></script>
							<div class="content">
								<h2>秉持無規則MINECRAFT的精神相聚在一起<br />
								以自由的方式參與</h2>
								<p>Discord是無規則伺服器最主要的交流平台，歡迎加入我們，成為無規則居民！</p>
								<a href="https://discord.gg/sKA9q2xyty"><img src="https://discordapp.com/api/guilds/839847631995404288/widget.png?style=banner3"> </a>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
								<h2>強者制定規則，弱者困守規則，<br />
								勇者破壞規則，智者遊戲規則。</h2>
							  <p>在遊戲內你想結盟、想交朋友、想叛變、想養老、想抄家</p>
							  <p>可自由PVP/無防噴/無防爆/無領地/無鎖箱/可抄家/</p>
							  <p>一個無政府的世界，你自己就是規則!</p>
                            </div>
						</section>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
					  <div class="inner">
						<header class="major">
								<h2>伺服器資訊</h2>
								<p>進入伺服器後初始地區(基本指令可至DC查看)善用/menu</p>
						  </header>
						  <ul class="features">
							  <li class="icon brands fa-discord">
								  <h3>discord</h3>
							      <p>有任何疑問都歡迎至dc詢問</p>
								  <p>專人會為您解答</p>
                              </li>
							  <li class="icon solid fa-laptop">
								  <h3>開放時間</h3>
								  <p>24 小時全天候開啟</p>
							  </li>
							  <li class="icon solid fa-code">
								  <h3>插件?&nbsp;</h3>
							    <p>為了讓玩家在伺服器內有更好的遊戲體驗</p>
								  <p>我們編寫了許多方便有趣的插件&nbsp;</p>
                              </li>
							  <li class="icon solid fa-headphones-alt">
								  <h3>想聊天?</h3>
							    <p>將伺服器與Discord同步</p>
								  <p>就算沒有登入也可以跟伺服器內的人聊天&nbsp;</p>
                              </li>
							  <li class="icon fa-heart">
								  <h3>最高遊玩人數</h3>
								  <p>200人</p>
							  </li>
							  <li class="icon fa-flag">
								  <h3>連線位址</h3>
								  <p><font style="cursor: pointer; text-decoration: underline;" onclick="copy_ip()">mc.norule.me</font></p>
							  </li>
						  </ul>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>伺服器承租</h2>
								<p>詳細情形至discord聯絡andy852546#8149</p>
							</header>
							<ul class="actions stacked">
							  <li><a href="https://discordapp.com/users/579244886037889024" class="button fit primary">點擊私訊我</a></li>
								<li><a href="/sell" class="button fit">了解更多</a></li>
						  </ul>
					  </div>
					</section>
{% endblock %}