{% extends "html/base.html" %}
{% block main %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            使用條款
        </title>
        <link rel="stylesheet" href="../css/terms.css">
    </head>
    <body style="overflow-x: hidden;">
        <div style="background-color: #1d242a; color:rgba(228, 228, 228, 0.7); display: flex; align-items: center; justify-content: center;height: 100vh; font-size: 56px;">
            <div style="display: flex; flex-direction: column; align-items: center;">
                <p>無規則伺服器</p>
                <p>網站使用條款</p>
                <p style="font-size: 23px; text-align: center;">法律資訊與聲明</p>
            </div>
        </div>
        <div id="one">
            <div style="background-color: rgba(228, 228, 228, 0.5); padding: 50px 0px 50px 0px; width: 100vw;">
                <h2>
                    網站所有權; 使用條款之同意
                </h2>
                <p>
                    本使用條款和條件(下稱「使用條款」)適用於位於 web.norule.me 的 無規則伺服器，以及由 web.norule.me 連結至的所有相關網站(通稱「本網站」)。
                    本網站為網站製作者之財產。凡使用本網站，即代表您同意本使用條款。若您不同意，請勿使用本網站。
                    <br>
                    <br>
                    本網站有權隨時自行決定變更、修改、增加或移除本使用條款任何內容。您應自行負責定期檢查本使用條款是否有變更。
                    凡在變更公告後繼續使用本網站，即代表您接受並同意此等變更。
                    在您遵守本使用條款的前提下，本網站授予您個人、非專屬、不可轉讓、有限之權利得進入並使用本網站。
                </p>
                <h2>
                    內容
                </h2>
                <p>
                    本網站上所有文字、圖表、使用者介面、視覺介面、照片、商標、標誌、繪稿和電腦程式碼(合稱「內容」)，包括但不限於此等內容之設計、結構、選擇、協調、表現、「視覺感受」以及配置，均為本網站所擁有、控制或授權，且受到商業包裝外觀、著作權、專利與商標法律，以及各種其他智慧財產權與不當競爭法律保護。
                    <br>
                    <br>
                    除非本使用條款另有明確規定，未經本網站事前明示書面同意，本網站及內容之任何部分均不得以任何方式(包括以「鏡像」方式)複製、重製、重新發表、上傳、張貼、公開展示、編碼、翻譯、傳輸或散布至任何其他電腦、伺服器、網站或是其他用以發表或散布之媒介，或是為任何商業企業進行此等行為。
                </p>
                <h2>
                    您對本網站之使用
                </h2>
                <p>
                    您同意不以任何方式重製或規避本網站或任何內容的導覽結構或版面，藉以透過本網站並未允許的任何方式，取得或意圖取得任何材料、文件或資訊。
                    本網站有權禁止此等行為。
                    <br>
                    <br>
                    您同意不探查、掃描或測試本網站或與本網站連結之網路的弱點，亦同意不破壞本網站或本網站所連結網路的安全或認證措施。
                    <br>
                    <br>
                    您同意不採取任何行動，導致本網站、本網站系統或網路、任何與本網站或本網站相連系統或網路的基礎架構，承受不合理或不成比例的巨量負載。
                    <br>
                    <br>
                    您同意不使用任何裝置、軟體或程序，干擾或試圖干擾本網站的正常運作或於本網站進行之任何交易，或他人對本網站之使用。
                    <br>
                    <br>
                    您不得使用本網站或任何內容進行非法或本使用條款所禁止之目的，或鼓吹任何非法活動或其他侵害本網站或他人權利之活動。
                </p>
                <h2>
                    隱私權
                </h2>
				<p>
					使用本網站亦代表您確認並同意 Internet 傳輸並非完全安全且隱密。您了解他人可能讀取或攔截您向本網站傳送的訊息或資訊，即使有特殊通知指出特定傳輸 (例如信用卡資訊) 已經加密亦同。
				</p>
                <h2>
                    連結至第三方網站
                </h2>
                <p>
                    本網站可能包含前往其他獨立第三人網站(「連結網站」)的連結。此類連結網站，僅為本網站訪客之方便而提供。
                    此等連結網站不受本網站控制，而本網站對此等連結網站的內容，包括其中任何資訊或資料，亦不負責且不予以背書。
                    使用此類連結網站時，請運用您的自主判斷能力。
                </p>
                <h2>
                    免責聲明
                </h2>
                <p>
                    本伺服器無法保證本網站或其任何內容、服務或功能完全無錯誤或不中斷，或任何瑕疵將獲得修正，或您使用本網站時可獲得特定結果。本網站及其內容係按「現狀」，於「可用範圍」內提供。本網站所提供之一切資訊均可能變更，恕不另行通知。拒絕承擔任何明示或默示擔保，包括精確性、不侵權、適售性以及符合特定用途之擔保責任。針對與您使用本網站及(或)任何本伺服器服務相關之任何第三人作為、不作為與行為，本伺服器一概不負任何責任。您應自行承擔您使用本網站及任何連結網站之完整責任。若您對本網站或其任何內容不滿意，您僅得停止使用本網站或任何此等內容；您對本伺服器並無其他救濟途徑。本救濟限制係雙方之間協商內容的一部分。
                    <br>
                    <br>
                    以上免責聲明適用於因任何無法執行、錯誤、疏失、中斷、刪除、瑕疵、運作或傳輸延誤、電腦病毒、通訊連線失敗、存取遭竊、存取損壞、未經授權存取、變更或使用而導致之任何損害、責任或人身傷害，無論係基於違約、侵權或其他索賠主張。
                    <br>
                    <br>
                    本伺服器有權隨時進行以下事項，恕不另行通知：(1) 基於任何理由而修改、暫停或終止本網站或其任何部分之運作或存取；(2) 修改或變更本網站或其任何部分以及相關政策或條款；以及 (3) 在必要情況下中斷本網站或其任何部分之運作，以利進行定期或非定期維護、錯誤更正或其他變更。
                </p>
                <h2>
                    賠償
                </h2>
                <p>
                    您同意，若因您使用本網站或其相關因素，導致任何第三人對本伺服器提出任何要求、損失、責任、索賠或花費 (包括律師費)，您將負擔一切賠償，並保護本伺服器、其開發人員、使用者、玩家免於承擔相關損害。
                </p>
                <h2>
                    違反本使用條款
                </h2>
                <p>
                    您同意，若本伺服器判斷您違反本使用條款或與您使用本網站相關之其他協議或方針，本伺服器得全權酌定終止您對本網站之存取權限，及(或)阻擋您未來對本網站之存取權限，無需事前通知。您亦同意，若您違反本使用條款，將構成非法而不公平的商業行為，並對本伺服器造成不可彌補的損害，使本伺服器承受無法估計的之金錢傷害；且您同意本伺服器得就此等情況按其認為必要或適合的方式，取得禁制令或衡平法救濟。除前述救濟途徑外，本伺服器亦享有法律或衡平法之其他救濟途徑。
                    <br>
                    <br>
                    您同意，若有下列情事 (包括但不限於)，本伺服器無需事前通知，得全權裁量並終止您存取本網站之權利：(1) 經執法機關或其他政府機關要求，(2) 本網站或是由本網站所提供或透過本網站提供的服務停止或經重大修改，或 (3) 不可預期的技術問題。
                    <br>
                    <br>
                    若您違反本使用條款而本伺服器未對您採取任何法律行動，則除本伺服器享有之任何其他救濟外，本伺服器將有權要求您支付，且您同意支付此等法律行動之合理律師費與成本。您同意，若因違反本使用條款而使存取本網站權限遭終止，本伺服器一概不對您或任何第三人負任何責任。
                </p>
                <h2>
                    準據法、爭議解決
                </h2>
                <p>
                    您同意就您存取或使用本網站相關事宜，包括所有爭議，不論法律是否有所衝突，將由中華民國法律管轄。
                </p>
            </div>
        </div>
    </body>
    <script src="../js/index.js"></script>
</html>
{% endblock %}
